/* 몇몇 테스트용 임시 CSS 파일 */
.greenT {
    color: lightgreen;
    font-weight: 400;
}

.yellowT {
    color: lightyellow;
    font-weight: 400;
}

.redT {
    color: lightcoral;
    font-weight: 400;
}

.greeenT {
    color: springgreen;
    font-weight: 400;
}