@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://rsms.me/inter/inter.css');
@import url('https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,800&display=swap');
@import url('https://gists.rawgit.com/mfd/f3d96ec7f0e8f034cc22ea73b3797b59/raw/856f1dbb8d807aabceb80b6d4f94b464df461b3e/gotham.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;700&display=swap');


.Modal_Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000000;
    box-shadow:
        10px 10px 30px #1e1e1e;
}

.Modal_Alpha_Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;

}

.Modal_Content {
    position: absolute;
    z-index: 101;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    /* border: 1px solid #ccc; */
    background: #1a1d1f;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 20px;
    outline: none;
    padding: 20px;

}

.Modal_Loading {
    position: absolute;
    z-index: 101;
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 30%;
    /* border: 1px solid #ccc; */
    background: #1a1d1f;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 20px;
    outline: none;
    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.signIn {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    vertical-align: center;
    margin-left: 30px;
}

#message {
    font-family: 'Pretendard', 'GothamPro', 'Segoe UI', Sans-Serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #dfdfdf;
    font-size: 24px;
    line-height: 9px;
    margin-bottom: 10px;
}

.bar {
    width: 94%;
    margin: -10px 50px -10px 0px;
}

.modal-input {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    vertical-align: center;
    width: 94%;
}
.modal-input .stuNo{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: center;
    width: 100%;
    margin-right: 13px;
}
.modal-input .stuName{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    vertical-align: center;
    width: 94%;
}
.modal-input input {
    font-family: 'GothamPro', 'Apple SD Gothic Neo', 'Pretendard', 'Segoe UI', Sans-Serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    width: 94%;
    height: 35px;
    border: 0;
    border-radius: 15px;
    outline: none;
    margin-top: 15px;
    padding-left: 10px;
    margin-bottom: -5px;
    background-color: #4f4f4f;
    color: #fff;
    font-size: 15px;
    box-shadow:
        10px 10px 24px #181818;
}

.modal-input input::placeholder {
    font-family: 'GothamPro', 'Apple SD Gothic Neo', 'Pretendard', 'Segoe UI', Sans-Serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: rgb(198, 198, 198);
    font-weight: 500;
    margin-left: 10px;
}

.modal-btn {
    position: absolute;
    bottom: 40px;
    right: 30px;

}

.modal-btn button {
    font-family: 'GothamPro', 'Apple SD Gothic Neo', 'Pretendard', 'Segoe UI', Sans-Serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    height: 30px;
    border: 0;
    border-radius: 10px;
    outline: none;
    width: 80px;
    margin-right: 10px;

    box-shadow:
        5px 5px 20px #303030;
}

.modal-btn-inactive {
    background-color: rgba(256, 256, 256, 0.3);
}

.modalfail {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    vertical-align: center;
    margin-left: 30px;
}

.modalfail h3 {
    font-family: 'GothamPro', 'Apple SD Gothic Neo', 'Pretendard', 'Segoe UI', Sans-Serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: rgb(198, 198, 198);
    font-size: 25px;
    line-height: 10px;
    margin-top: 40px;
}

.modalfail button {
    font-family: 'GothamPro', 'Apple SD Gothic Neo', 'Pretendard', 'Segoe UI', Sans-Serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    height: 30px;
    border: 0;
    border-radius: 10px;
    outline: none;
    width: 80px;
    bottom: 40px;
    right: 40px;
    position: absolute;
}
  